.predictioncharts{
    width: 100%;
    height: 100%;
}

.covidPredictionChart{
    width: 100%;
    height: 50%;
    float: top;
}

.housingPredictionChart{
    width: 100%;
    height: 50%;
    float: bottom;
}