.geovisual{
    width: 55%;
    height: 100%;
    float: left;
}

.rightpane{
    width: 45%;
    height: 100%;
    float: right;
    overflow: hidden;
}

.chartdisplay{
    width: 100%;
    height: calc(100% - 39px);
    float: bottom;
}